<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue sur Rent-a-Comic{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> 
    </head>
    <body>
        <div class="row">
            <header class="col-md-12">
                <h1>Rent-A-Comic</h1>
                <nav>
                    <ul id="menu" class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-default" href="{{ path('home') }}" title="BDloc | Accueil">Accueil</a>
                        <a class="btn btn-default" href="{{ path('catalogue') }}" title="Catalogue">Catalogue</a>
                        <a class="btn btn-default" href="{{ path('panier') }}" title="Panier">Mon Panier
                                                <span class="badge">{%if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                                                        {% set counter = 0%}
                                                                        {%for cart in app.user.carts %}
                                                                            {%if cart.status == "En Cours de Commande" %}
                                                                                {%for book in cart.books%}
                                                                                    {% set counter = counter + 1 %}
                                                                                {%endfor%}
                                                                            {%endif%}
                                                                        {%endfor%}
                                                                        {{counter}}
                                                                    {%endif%}</span>
                        </a>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="btn btn-default" href="{{ path("user_details", {"slug":app.user.slug}) }}" title="Profil">Profil</a>    
                        <a class="btn btn-default" href="{{ path('logout') }}" title="Déconnexion">Se déconnecter</a>    
                        {% else %}
                        <a class="btn btn-default" href="{{ path('login_route') }}" title="Panier">Se connecter</a>    
                        {% endif %}
                    </ul>
                </nav>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <h4>Bonjour {{ app.user.lastname}}  {{ app.user.firstname}}</h4>            {% endif %}
                {#
                    <div class="login">
                        <form action="" method="POST">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="_username" value="" />
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password" a />
                        </form>
                    </div>
                #}

                {% block header %}{% endblock %}
            </header>
            <div class="container">                
                <section>
                    {% block body %}{% endblock %}
                </section>                
            </div>
            <footer>
                {% block footer %}
                    <ins>Site réalisé par Aymane, JP et Julien</ins>
                    <span>&copy;copyright 2015 Rent-A-Comic</span>
                {% endblock %}
            </footer>
            {% block javascripts %}

            {% endblock %}
        </div>
    </body>
</html>
