<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenue sur Rent-a-Comic{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
        <header>
            <h1>Rent-A-Comic</h1>
            <nav>
                <ul id="menu" class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-default" href="{{ path('home') }}" title="BDloc | Accueil">Accueil</a>
                    <a class="btn btn-default" href="{{ path('catalogue') }}" title="Catalogue">Catalogue</a>
                    <a class="btn btn-default" href="{{ path('panier') }}" title="Panier">Mon Panier</a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a class="btn btn-default" href="{{ path('logout') }}" title="Panier">Se déconnecter</a>    
                    {% else %}
                    <a class="btn btn-default" href="{{ path('login_route') }}" title="Panier">Se connecter</a>    
                    {% endif %}
                </ul>
            </nav>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h4>Bonjour {{ app.user.lastname}}  {{ app.user.firstname}}</h4>            {% endif %}
            {#
                <div class="login">
                    <form action="" method="POST">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="" />
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" a />
                    </form>
                </div>
            #}
                
            {% block header %}{% endblock %}
        </header>
        <section>
            {% block body %}{% endblock %}
        </section>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}

        </div>
    </body>
</html>
