{% extends "base.html.twig" %}

{% block body %}
    
    
<div id="map-canvas"></div>
    
    
    
{%endblock%}

{% block javascripts %}
<script type="text/javascript">
    
    var pickupSpot = [{%for pickupSpot in pickSpots %}
                            ["{{pickupSpot.storeName}}",{{pickupSpot.latitude}},{{pickupSpot.longitude}},1],
                        {%endfor%}
                    ];
    
    function setMarkers(map, locations) {
        // Add markers to the map

        // Marker sizes are expressed as a Size of X,Y
        // where the origin of the image (0,0) is located
        // in the top left of the image.

        // Origins, anchor positions and coordinates of the marker
        // increase in the X direction to the right and in
        // the Y direction down.
        var image = {
          url: "{{asset('image/supermarket.png')}}",
          // This marker is 20 pixels wide by 32 pixels tall.
          size: new google.maps.Size(20, 32),
          // The origin for this image is 0,0.
          origin: new google.maps.Point(0,0),
          // The anchor for this image is the base of the flagpole at 0,32.
          anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon.
        // The type defines an HTML &lt;area&gt; element 'poly' which
        // traces out a polygon as a series of X,Y points. The final
        // coordinate closes the poly by connecting to the first
        // coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18 , 1],
            type: 'poly'
        };
        for (var i = 0; i < locations.length; i++) {
          var beach = locations[i];
          var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
          var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              icon: image,
              shape: shape,
              title: beach[0],
              zIndex: beach[3]
          });
        }
}

    
    
      function initialize() {
          
        var userLatLng = new google.maps.LatLng({{app.user.latitude}},{{app.user.longitude}});

        var mapOptions = {
          center: userLatLng,
          zoom: 10
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            
            var marker = new google.maps.Marker({
                position: userLatLng,
                map: map,
                title: 'Votre Adresse'
        });
        
            setMarkers(map, pickupSpot);

        
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
