{% extends "base.html.twig" %}

{% block body %} 
    <h2> Votre Panier </h2>
    <table class="table">
        <tr>
            <th>N°de Commande</th>
            <th>Livre</th>
            <th>Status</th>
            <th></th>
        </tr>
    {%for cart in carts%}
        <tr id="{{cart.id}}">
            <td>{{cart.id}}</td>
            <td>
            {%for book in cart.books%}
                <img src="{{asset('Couvertures/'~book.cover)}}" alt="{{book.title}}" class="img-resized2" >
                {{book.title}}<br>
            {%endfor%}
            </td>
            <td>{{cart.status}}</td>
            <td><a href="#" id="Supprimer" class="btn btn-danger" >SUPPRIMER</a></td>
        </tr>
    {%endfor%}
    </table>
    
    <div id="error"></div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).on('click','#Supprimer',function(){
            id = $(this).parent().parent().attr('id');
            $('#'+id).slideUp('slow',function(){
                $('.badge').text($('.badge').text()-1);
                $('#'+id).remove();
                $.post('{{path('supprimeP')}}',"cartId="+id,function(r){
                    $('#error').append(r)
                });
            });
           
            
            
        });
        
        
        
        
        
    </script>
{%endblock%}