{% extends 'base.html.twig' %}

{% block title %}
Profil | {{ parent() }}
{% endblock %}

{% block body %}
        <article>
            <p>Utilisateur : {{ user.firstName }} {{ user.lastName }}</p>
            <p>Pseudo : {{ user.nickname }} </p>
            <p>E-mail : {{ user.email }} </p>
            <p>Adresse : {{ user.address }}</p>   
            <p>Code Postal : {{ user.postalCode }}</p>
            <p>Ville : {{ user.city }}</p>
            <p>Téléphone : {{ user.tel }}</p>
            <input type="radio" name="choix" value="mi"
                {% if user.subscriber == 1 %}
                    checked
                {% endif %}
            %} disabled
            >Abonné
            {% for cart in user.carts %}
                <p>Commande : {{ cart.id }}, Date : {{ cart.dateCreated|date("m/d/Y") }}</p>
                    {% for book in cart.books %}
                        Livre : {{ book.title }}
                    {% endfor %}
            {% endfor %}
            {#<a class="btn btn-danger" href="{{ path ("story_delete", {"id":story.id}) }}">Effacer cet article</a>#}
            {#<a id="voteBtn" href="{{ path('test_ajax', {"storyId":story.id}) }}">Lien vers test ajax</a>#}
            {#{{ form(commentForm, {'attr':{'novalidate':'novalidate'}}) }}
            <h5>{{ story.user.username }}</h5>
            <div class="comments">
            {% for comment in story.comments %}
                <h6>{{ comment.content }}</h6>
            {% endfor %}

            </div>#}

        </article>
{% endblock %}
