{% extends 'base.html.twig' %}

{% block title %}
Profil | {{ parent() }}
{% endblock %}

{% block body %}
        <article>
            <p>Utilisateur : {{ user.firstName }} {{ user.lastName }}</p>
            <p>Pseudo : {{ user.nickname }} </p>
            <p>E-mail : {{ user.email }} </p>
            <p>Adresse : {{ user.address }}</p>   
            <p>Code Postal : {{ user.postalCode }}</p>
            <p>Ville : {{ user.city }}</p>
            <p>Téléphone : {{ user.tel }}</p>
            <input type="radio" name="choix" value="mi"
                {% if user.subscriber == 1 %}
                    checked
                {% endif %}
            %} disabled
            >Abonné
            <table class="table">
                <tr>
                <th>Id</th><th>Date Commande</th><th>Etat</th><th>Date de retour</th><th>Date retour réel</th><th>Amendes</th><th>Bd</th>
                </tr>
                {% for cart in user.carts %}
                <tr>
                <td>{{ cart.id }}</td><td>{{ cart.dateCreated|date("m/d/Y") }}</td><td>{{ cart.status }}</td><td>{{ cart.dateToBeReturn|date("m/d/Y") }}</td><td>{{ cart.dateReallyReturned|date("m/d/Y") }}
                </td><td>
                    {% set fineText = 'Non' %}
                    {% for fine in cart.fines %}                        
                        {% if fine.id %}
                            {#{{ cart.id }}#}
                            {% set fineText = 'Oui' %}
                        {% else %}
                        {% endif %}
                    {% endfor %}
                    {% if fineText == 'Oui' %}
                        {#<a href="{{ path("fine_details", {"cart":cart.id}) }}" title="Voir">Oui</a>#}
                        {#<a href="{{ path("home") }}" title="Voir">Oui</a>#}
                        <a href="{{ path("fine_details", {"cart":cart.id}) }}" title="Voir">Oui</a>                        
                    {% else %}
                        {{ fineText }}
                    {% endif %}
                    
                    </td>
                    {% set authorList = [] %}
                    <td>
                    {% for book in cart.books %}                        
                            {%for author in book.rel%}
                                {% set authorList = authorList|merge([author.authors.firstname ~" "~ author.authors.lastname]) %}
                            {%endfor%}                            
                            <img src="{{ asset('Couvertures/'~ book.cover) }}" title="Livre : {{ book.title }}. Auteurs : {{ authorList|join(', ') }}." class="img-resized2" alt="{{book.title}}">
                            {% set authorList = [] %}        
                    {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </article>
{% endblock %}
