{% extends "base.html.twig" %}

{% block body %} 
    <h2> Catalogue </h2>
    <div class="row">
        <div class="col-md-2">
            <div class="filtres">
                <h3>Filtres</h3>
                <h4> Catégories </h4>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Polar
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Historique
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Tranche de Vie
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Aventure
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Jeunesse
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Fantastique
                    </label>
                </div>
                <h4> Disponibilité </h4>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Disponible
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox"> Indisponible
                    </label>
                </div>
            </div>    
        </div>
        <div class="col-md-10">
            <div class="resultats">
                <h3>Résultats</h3>
                <div class="dropdown">    
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Trier par..
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Titre</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Auteur</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Date de parution</a></li>
                    </ul>
                </div>
                
                <div class="dropdown">    
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Nombre de BD à afficher
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Afficher 10 résultats</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Afficher 20 résultats</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Afficher 30 résultats</a></li>
                    </ul>
                </div>
                {#
                    {{ paginationResults.nowShowingMin }} à {{ paginationResults.nowShowingMax }} sur {{ paginationResults.total }}
                    <ul class="pagination">

                        {% if paginationResults.prevPage %}

                        <li><a href="{{ path('home', {page: paginationResults.prevPage}) }}">Précédent</a></li>

                        {% endif %}

                        {% for i in paginationResults.numLinkMin..paginationResults.numLinkMax %}
                        <li><a href="{{ path('home', {'page' : i}) }}">{{i}}</a></li>
                        {% endfor %}

                        {% if paginationResults.nextPage %}

                        <li><a href="{{ path('home', {page: paginationResults.nextPage}) }}">Suivant</a></li>

                        {% endif %}

                    </ul>
                #}
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    
{% endblock %} 