{% extends "base.html.twig" %}

{% block body %} 
    <h2> Catalogue </h2>
    <div class="row">
        <div class="col-md-2">
            <div class="filtres">
                <h3>Filtres</h3>
                <h4> Catégories </h4>
                <form method="get">
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="1"> Science-fiction
                        </label>
                    </div>
                    <div class="checkbox" value="option1">
                        <label>
                          <input type="checkbox" name="choix[]" value="2"> Aventure
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="3"> Polar/Thriller
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="4"> Historique
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="5"> Jeunesse
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="6"> Humour
                        </label>
                    </div>
                    <h4> Disponibilité </h4>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="option1"> Disponible
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" name="choix[]" value="option2"> Indisponible
                        </label>
                    </div>
                </form>
                <h4> Recherche </h4>
                <input type="text" class="form-control" id="recherche" name="motclef" placeholder="mots-clefs" />
                <a href="#" class="btn btn-default" id="btsearch">Rechercher</a><br>
            </div>    
        </div>
        <div class="col-md-10">
            <div class="resultats">
                <h3>Résultats</h3>
                <div class="dropdown">    
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        Trier par..
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Titre</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Auteur</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Date de parution</a></li>
                    </ul>
                </div>                
                <div class="dropdown">    
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                        Nombre de BD à afficher
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Afficher 10 résultats</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Afficher 20 résultats</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Afficher 30 résultats</a></li>
                    </ul>
                </div>
                <div class="pagi">
                    <ins>{{ paginationResults.nowShowingMin }} à {{ paginationResults.nowShowingMax }} sur {{ paginationResults.total }}</ins>
                    <ul class="pagination">
                        {% if paginationResults.prevPage %}

                        <li><a href="{{ path('catalogue', {page: paginationResults.prevPage}) }}">Précédent</a></li>

                        {% endif %}

                        {% for i in paginationResults.numLinkMin..paginationResults.numLinkMax %}
                        <li><a href="{{ path('catalogue', {'page' : i}) }}">{{i}}</a></li>
                        {% endfor %}

                        {% if paginationResults.nextPage %}

                        <li><a href="{{ path('catalogue', {page: paginationResults.nextPage}) }}">Suivant</a></li>

                        {% endif %}
                    </ul>
                </div>        
            </div>
            <div>                    
                {%for bd in paginationResults.data %}
                    <div class="col-md-5 resultatsBd ">
                        <img src="{{ asset('Couvertures/'~ bd.cover) }}" class="img-resized" alt="{{bd.title}}">
                        <div class="description">
                            <p>{{bd.title}}</p><br>
                            <ins> Auteurs: </ins>
                            {%for author in bd.rel%}
                                <p>{{author.authors.firstname ~" "~ author.authors.lastname}}</p>
                            {%endfor%}<br>                            
                            <a href="{{path('details')}}" class="btn btn-info" id="btdetail">Details</a><br>
                            <a href="{{path('ajoutP',{'slug' : bd.slug})}}" class="btn btn-primary" id="btpannier">Ajouter Au Panier</a>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                {%endfor%}                    
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>    
{% endblock %} 